html{
    box-sizing: border-box;
}

:root{
    --bg-color-light: #ffffff;
    --bg-color-dark: #000000;
    --color-light: #000000;
    --color-dark: #ffffff;
    --bg-table-header: #e4e4e4;
    --color-table-header: #000000; /* pretty sure this is bad */
    --color-link: #0580e6;
    --color-hover: #dc00f0;

    --bg-color-theme: var(--bg-color-light);
    --color-theme: var(--color-light);
}

*, *:before, *:after{
    box-sizing: inherit;
    margin: auto;
    width: fit-content;
}
body{
    margin: auto;
    width: fit-content;
    text-align: center;
    background-color: var(--bg-color-theme);
    color: var(--color-theme);
}

#welcome-text{
    color: red;
}

#players-section{
    text-align: center;
}

.group-name{
    font-size: large;
}
.group-name div{
    font-size: medium;
}

.players>div{
    margin: 0;
}

table{
    border-collapse: collapse;
    width: 60vw;
    min-width: 300px;
}
th{
    border: 1px solid var(--color-theme);
    background-color: var(--bg-table-header);
    padding: 2px;
}
td{
    padding: 5px;
    border: 1px solid var(--color-theme);
    text-align: center;
    font-size: small;
}

.court{
    position: relative;
}

.player:nth-child(1){
    left: 24px;
    top: 24px;
    position: absolute;
}
.player:nth-child(2){
    position: absolute;
    left: 24px;
    bottom: 24px;
}
.player:nth-child(3){
    position: absolute;
    right: 24px;
    top: 24px;
}
.player:nth-child(4){
    position: absolute;
    right: 24px;
    bottom: 24px
}

.open-spot{
    color: var(--color-link)
}

.open-spot:hover, .open-spot:active{
    color: var(--color-hover);
}
@media(prefers-color-scheme: dark){
    :root{
        --color-theme: var(--color-dark);
        --bg-color-theme: var(--color-light);
    }
    th{
        color: var(--color-table-header);
    }
}