html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
    margin: auto;
    width: fit-content;
}
body{
    margin: auto;
    width: fit-content;
}

#welcome-text{
    color: red;
}

.group-name{
    font-size: large;
}
.group-name div{
    font-size: medium;
}

.players>div{
    margin: 0;
}