html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
    margin: auto;
    width: fit-content;
}
body{
    margin: auto;
    width: fit-content;
    text-align: center;
}

#welcome-text{
    color: red;
}

#players-section{
    text-align: center;
}

.group-name{
    font-size: large;
}
.group-name div{
    font-size: medium;
}

.players>div{
    margin: 0;
}

table{
    border-collapse: collapse;
    width: 60vw;
    min-width: 300px;
}
th{
    border: 1px solid;
    background-color: #e4e4e4;
    padding: 2px;
}
td{
    padding: 5px;
    border: 1px solid;
    text-align: center;
    font-size: small;
}

.court{
    position: relative;
}

.player:nth-child(1){
    left: 24px;
    top: 24px;
    position: absolute;
}
.player:nth-child(2){
    position: absolute;
    left: 24px;
    bottom: 24px;
}
.player:nth-child(3){
    position: absolute;
    right: 24px;
    top: 24px;
}
.player:nth-child(4){
    position: absolute;
    right: 24px;
    bottom: 24px
}