<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" >
    <script src="/static/js/main.js" type="module" defer></script>
</head>
<body>
    {{template "court" .}}
    <form action="/game-over" method="post">
        <input type="hidden" name="group-id" value="{{.Group.GroupId}}">
        <button id="finish-btn">Finished</button>
    </form>
</body>
</html>