<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!-- template location--> Queue</title>
</head>
<body>
    <!--
        player info
        assigned group
        expected wait time
        list of current groups waiting
        list of active courts
        
    -->
    Queue Page
    <div id="group-info">
        Your group: 
        {{ range $player_indx, $player := .AssignedGroup.Players}}
            <div id="player-{{inc $player_indx}}">
                {{$player.Name}}
            </div>
        {{ end}}
    </div>
    <div id="current-queue">
        <br>
        <br>
        <br>
        Current Queue:
        {{ range $group_indx, $group := .CurrentQueue}}
            <div id="group-{{$group_indx}}">
                Group-{{inc $group_indx}}: <br>
                {{ range $player_indx, $player := $group.Players}}
                <div>
                    Player {{inc $player_indx}}: {{$player}}
                </div>
                {{ end }}
            </div>
        {{end}}
    </div>
</body>
</html>