<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!-- template location--> Queue</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" >
    <script src="/static/js/main.js" type="module" defer></script>
</head>
<body>
    <!--
        player info
        assigned group
        expected wait time
        list of current groups waiting
        list of active courts
        
    -->
    <h1>Queue Page ({{.Location}})</h1>
    {{if .Player}}
        <div id="group-info">
            <p>Your group: </p>
            <table>
                <tr>
                    <th colspan="4" class="group">{{.AssignedGroup.SkillLevel}}</th>
                </tr>
                <tr>
                    <td id="my-name">{{.Player.Name}}</td>
                    {{ range $pi, $p := .AssignedGroup.Players}}
                        {{if and $p (ne $p.Name $.Player.Name)}}
                            <td id="my-group-p{{inc $pi}}">
                                {{$p.Name}}
                            </td>
                        {{ end}}
                    {{ end}}
                </tr>
            </table>
            <form action="/leave-group" method="post">
                <input type="hidden" name="player-id" value="{{.Player.PlayerId}}">
                <input type="hidden" name="group-id" value="{{.AssignedGroup.GroupId}}">
                <button id="leave-group-btn">Leave Group</button>
            </form> <!-- submit via js, redirect if response is 200 -->
        </div>
    {{end}}
    <div id="current-queue">
        <br>
        <br>
        <br>
        <h2>Current Queue:</h2>
        <table>
            {{ range $gi, $g := .CurrentQueue}}
            <tr>
                <th colspan="4" class="group {{if eq $g $.AssignedGroup}}my-group{{end}}" id="group-{{$gi}}">
                    Group-{{inc $gi}}: {{$g.SkillLevel}}
                </th>
            </tr>
            <tr class="players">
                    {{ range $pi, $p := $g.Players}}
                        {{if $p}}
                        <td id="group{{inc $gi}}-player{{inc $pi}}">
                            {{$p.Name}}
                        </td>
                        {{else}}
                        <td id="group{{inc $gi}}-player{{inc $pi}}" class="open-spot">
                            Open
                        </td>
                        {{end}}
                    {{ end }}
                </div>
            </tr>
            {{end}}
        </table>
    </div>
    <div id="active-courts">
        <h2>Active Courts: </h2>
        {{ range $ci, $c := .ActiveCourts}}
            <div class="group" id="group-{{$ci}}">
                <h3>Court-{{inc $ci}}: {{$c.Group.SkillLevel}}</h3>
                <div class="start-time">Time Elapsed: <span class="time">{{$c.StartTime}}</span></div>
                <div class="court">
                    <div class="players">
                        {{ range $pi, $p:= $c.Group.Players}} <!-- Can be nil if 2p court-->
                            {{ if $p}}
                            <div class="player" id="group{{inc $ci}}-player{{inc $pi}}">
                                {{$p.Name}}
                            </div>
                            {{end}}
                        {{ end }}
                    </div>
                    <img src="/static/assets/pickleball_court.png" class="pickleball-court-img" alt="Pickleball Court" >
                </div>
                
        </div>
        {{end}}
    </div>
</body>
</html>