<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!-- template location--> Queue</title>
</head>
<body>
    <!--
        player info
        assigned group
        expected wait time
        list of current groups waiting
        list of active courts
        
    -->
    Queue Page
    <div id="group-info">
        Your group: 
        <div id="group-player1">
            {{.AssignedGroup.Player1.Name}}
        </div>
        <div id="group-player2">
            {{.AssignedGroup.Player2.Name}}
        </div>
        <div id="group-player3">
            {{.AssignedGroup.Player3.Name}}
        </div>
        <div id="group-player4">
            {{.AssignedGroup.Player4.Name}}
        </div>
    </div>
    <div id="current-queue">
        <br>
        <br>
        <br>
        Current Queue:
        {{ range $indx, $val := .CurrentQueue}}
            <div id="group-{{$indx}}">
                Group-{{inc $indx}}: <br>
                {{$val}}
            </div>
        {{end}}
    </div>
</body>
</html>